<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Device Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/report_by_device.css') }}">
</head>

<body>
    <h1>Device Information</h1>

    <h2>ARP Table</h2>
    <table>
        <tr>
            <th>ARP Mode</th>
            <th>DateTime</th>
            <th>Encryption Type</th>
            <th>Hardware Type</th>
            <th>ID ARP</th>
            <th>Interface Name</th>
            <th>IP Address</th>
            <th>MAC Address</th>
        </tr>
        {% for entry in data.device.arp_table %}
        <tr>
            <td>{{ entry.arp_mode }}</td>
            <td>{{ entry.datetime }}</td>
            <td>{{ entry.encryption_type }}</td>
            <td>{{ entry.hardware_type }}</td>
            <td>{{ entry.id_arp }}</td>
            <td>{{ entry.interface_name }}</td>
            <td>{{ entry.ip_address }}</td>
            <td>{{ entry.mac_address }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>CDP Neighbors</h2>
    <table>
        <tr>
            <th>Advertisement Version</th>
            <th>Capability</th>
            <th>DateTime</th>
            <th>Duplex</th>
            <th>ID CDP</th>
            <th>Local Interface Name</th>
            <th>Neighbor Device Name</th>
            <th>Neighbor ID Device</th>
            <th>Neighbor Interface Name</th>
            <th>Neighbor IP Address</th>
            <th>Platform</th>
            <th>Software Version</th>
        </tr>
        {% for neighbor in data.device.cdp_neighbors %}
        <tr>
            <td>{{ neighbor.advertisement_version }}</td>
            <td>{{ neighbor.capability }}</td>
            <td>{{ neighbor.datetime }}</td>
            <td>{{ neighbor.duplex }}</td>
            <td>{{ neighbor.id_cdp }}</td>
            <td>{{ neighbor.local_interface_name }}</td>
            <td>{{ neighbor.neighbor_device_name }}</td>
            <td>{{ neighbor.neighbor_id_device }}</td>
            <td>{{ neighbor.neighbor_interface_name }}</td>
            <td>{{ neighbor.neighbor_ip_address }}</td>
            <td>{{ neighbor.platform }}</td>
            <td>{{ neighbor.software_version }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>General Information</h2>
    <h3>Device Information</h3>
    <ul>
        <li>Hostname: {{ data.device.general.device_information.hostname }}</li>
        <li>Model: {{ data.device.general.device_information.model }}</li>
        <li>Serial Number: {{ data.device.general.device_information.serial_number }}</li>
        <li>Software Version: {{ data.device.general.device_information.software_version }}</li>
        <li>DateTime: {{ data.device.general.device_information.datetime }}</li>
    </ul>

    <h3>Hardware</h3>
    <table>
        <tr>
            <th>Description</th>
            <th>Device Index</th>
            <th>Type</th>
            <th>Part Number</th>
            <th>Serial Number</th>
            <th>Version</th>
        </tr>
        {% for hardware in data.device.general.hardware %}
        <tr>
            <td>{{ hardware.hw_description }}</td>
            <td>{{ hardware.hw_dev_index }}</td>
            <td>{{ hardware.hw_type }}</td>
            <td>{{ hardware.part_number }}</td>
            <td>{{ hardware.serial_number }}</td>
            <td>{{ hardware.version }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Software</h3>
    <ul>
        <li>Boot Time: {{ data.device.general.software[0].boot_time }}</li>
        <li>Current Time: {{ data.device.general.software[0].current_time_device }}</li>
        <li>Last Reboot Reason: {{ data.device.general.software[0].last_reboot_reason }}</li>
        <li>ROMMON Version: {{ data.device.general.software[0].rommon_version }}</li>
        <li>Software Version: {{ data.device.general.software[0].software_version }}</li>
    </ul>

    <h2>Interfaces</h2>
    <table>
        <tr>
            <th>CDP State</th>
            <th>DateTime</th>
            <th>ID Interface</th>
            <th>Interface Name</th>
            <th>IP Address</th>
            <th>Subnet Mask</th>
        </tr>
        {% for interface in data.device.interfaces %}
        <tr>
            <td>{{ interface.cdp_state }}</td>
            <td>{{ interface.datetime }}</td>
            <td>{{ interface.id_interface }}</td>
            <td>{{ interface.interface_name }}</td>
            <td>{{ interface.ip_address }}</td>
            <td>{{ interface.subnet_mask }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>OSPF Networks</h2>
    <table>
        <tr>
            <th>Area</th>
            <th>DateTime</th>
            <th>ID Device</th>
            <th>Mask</th>
            <th>Network IP Address</th>
            <th>OSPF Network ID</th>
            <th>OSPF Process ID</th>
        </tr>
        {% for network in data.device.ospf.ospf_networks %}
        <tr>
            <td>{{ network.area }}</td>
            <td>{{ network.datetime }}</td>
            <td>{{ network.id_device }}</td>
            <td>{{ network.mask }}</td>
            <td>{{ network.network_ip_address }}</td>
            <td>{{ network.ospf_network_id }}</td>
            <td>{{ network.ospf_process_id }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>